@import "/home/ayman/.cache/wal/colors.scss";
@import "bar/scss/lib.scss";
@import "bar/scss/bar_left.scss";
@import "bar/scss/bar_center.scss";
@import "bar/scss/bar_right.scss";
@import "bar/scss/bar.scss";

// @import "side_bar_L/eww.scss";

* {
  all: unset;
  font-family: JetBrains Mono Nerd;
  font-weight: bolder;
}
