// Define the theme variables
$background: $color0; // Example background color
$foreground: $color15; // Example foreground color
$secondary: $color13; // Example selected background color

$module-background: mix($background, $color1, 50%);
$module-foreground: mix($foreground, $color1, 50%);

$background: rgba($background, 0.5);
$module-background: rgba($module-background, 0.5);
$module-foreground: rgba($module-foreground, 0.5);

* {
  font-family: "JetBrainsMono NFM";
  transition: all 0.5s;
}

.module {
  background: $module-background;
  // color: mix($foreground, $secondary, 50%);
  color: $foreground;
  min-height: 1px;
  // border: 1px solid $color15;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 700;
  text-shadow: none;
  padding: 0px 10px;
  margin: 0px;
}

button,
.button {
  @extend .module;
  text-shadow: $background 0px 0px 1px;
  ////////////////////////////
  &:hover {
    color: $background;
    background: $module-foreground;
    text-shadow: $foreground 1px 1px 5px;
  }
  &:checked {
    background: $color10;
    color: $color0;
  }
}

.switch {
  @extend .module;
  margin: 0px;
  padding: 0px;
  slider {
    border-radius: 10px;
    font-size: 0.8rem;
    min-height: 1px;
    min-width: 1px;
    margin: 5px;
    background: mix($foreground, $secondary, 50%);
    // color: $foreground;
  }
}

.custom-revealer {
  label {
    margin: 0px 10px;
    // padding: 0px;
  }
  .icon {
    font-size: 1.5em;
    all: unset;
    margin: 0px 15px;
  }
  @extend .module;

  .slider {
    // margin: 0px 5px;
    margin-right: 10px;
    margin-left: 5px;
    padding: 0px;
    min-width: 100px;

    trough {
      min-height: 2px;
      min-width: 69px;
      // padding-left: 5px;
      border-radius: 10px;
    }

    highlight {
      min-width: 10px;
      background-color: $color4;
    }

    slider {
      min-height: 1px;
      min-width: 10px;
      margin: -5px;
      background-color: $color1;
      color: $color7;
    }

    &:hover {
      highlight {
        background-color: mix($color4, #000000, 50%);
      }
      slider {
        background-color: mix($color2, #000000, 50%);
        color: mix($color2, #000000, 50%);
      }
    }
  }
}
