// Define the theme variables

* {
  font-family: "JetBrainsMono NFP", "Noto Font";
  transition: all 0.5s;
}

.module {
  background: $module-background;
  color: $foreground;
  min-height: 1px;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 700;
  text-shadow: none;
  padding: 0 10px;
  margin: 0;
}

.icon,
image {
  font-size: $ICON-SIZE;
  color: $foreground;
}

button,
.button {
  @extend .module;
  font-size: $ICON-SIZE;
  background: $secondary-background;
  &:hover {
    background: $background;
    text-shadow: $foreground 0 0 1px;
  }
  &:focus,
  &:checked {
    outline: none;
    // border-color: transparent;
  }
  &.checked {
    background: $secondary;
    color: $color0;
  }
}

filechooserbutton * {
  min-width: 0px;
  min-height: 0px;
  padding: 0px;
  margin: 0px;
  image {
    font-size: 0em;
  }
}

.danger {
  background: $red;
  color: $foreground;
  &:hover,
  &:checked {
    background: rgba($red, 0.8); // Pre-calculated hover and checked state
  }
}

.success {
  background: $green;
  color: $foreground;
  &:hover,
  &:checked {
    background: rgba($green, 0.8); // Pre-calculated hover and checked state
  }
}

entry {
  color: $foreground;
  background: transparent;
  border: unset;
  &:focus {
    box-shadow: none;
    background: $module-background;
  }
}

separator {
  border-top: 1px solid $tertiary;
}

menu {
  @extend .module;
  border-radius: 0;
  background: $background;
  padding: 0;
  menuitem {
    border-radius: 0;
    padding: 5px 0;
    margin: 2.5px 0;
    &:hover {
      background: $secondary;
    }
  }
}

levelbar {
  margin: 0;
  padding: 0;
  trough {
    background: $module-background;
    border: unset;
    min-height: 5px;
    padding: 5px;
    .filled {
      box-shadow: 0 0 10px 0 $secondary;
      background: $secondary;
      border-radius: 10px;
      border: unset;
    }
  }
}

switch {
  @extend .module;
  margin: 0;
  padding: 0;
  slider {
    @extend .slider;
  }
}

scrollable > * {
  border-width: 0;
}

scrolledwindow {
  slider {
    background: black;
  }
}

.switch {
  @extend .module;
  margin: 0;
  padding: 0;
  slider {
    border-radius: 10px;
    font-size: 0.8rem;
    margin: 5px;
    background: mix($foreground, $secondary, 50%);
  }
}

.slider {
  padding: 0px 2px;

  trough {
    border-radius: 10px;
    background: $module-background;
    color: black;

    slider {
      background: transparent;
      min-height: 0px;
      min-width: 0px;
      margin: 5px;
    }

    highlight {
      background: $secondary;
    }
  }

  &:hover highlight {
    background: $tertiary;
  }
}

.custom-revealer {
  @extend .module;
  label {
    margin: 0 10px;
  }
  .icon {
    font-size: 1.5em;
    all: unset;
    // margin: 0 10px;
    min-width: 35px;
  }
}
