// Define the theme variables
$background: $color0; // Example background color
$foreground: $color7; // Example foreground color
$secondary: $color13; // Example selected background color

$red: rgb(255, 102, 77); /* Muted red-orange, with less opacity */
$green: rgb(153, 255, 153); /* Softer pastel green */
$blue: rgb(102, 153, 255); /* Lighter desaturated blue */
$orange: rgb(255, 139, 23); /* Muted peachy orange */

$spotify: mix($background, rgb(30, 215, 95), 69%);
$spotify-background: rgba($spotify, 0.69);

$blue: mix($background, $blue, 69%);
$blue-background: rgba($blue, 0.69);

$orange: mix($background, $orange, 69%);
$orange-background: rgba($orange, 0.69);

$module-background: mix($background, $color1, 69%);
$module-foreground: mix($foreground, $color1, 69%);
$module-secondary: mix($secondary, $foreground, 69%);

$background: rgba($background, 0.69);
$module-background: rgba($module-background, 0.69);
$module-foreground: rgba($module-foreground, 0.69);

* {
  font-family: "JetBrainsMono NFP", "Noto Font";
  transition: all 0.5s;
}

.module {
  background: $module-background;
  color: $foreground;
  min-height: 1px;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 700;
  text-shadow: none;
  padding: 0 10px;
  margin: 0;
}

button,
.button {
  @extend .module;
  min-height: 20px;
  text-shadow: $background 0 0 1px;
  &:hover {
    background: $background;
    text-shadow: $foreground 0 0 1px;
  }
  &:focus,
  &:checked {
    outline: none;
    border-color: transparent;
    box-shadow: none;
  }
  &:checked {
    background: $color10;
    color: $color0;
  }
}

.danger {
  background: $red;
  color: $foreground;
  &:hover,
  &:checked {
    background: rgba($red, 0.8); // Pre-calculated hover and checked state
  }
}

.icon,
image {
  font-size: 12px;
  color: $foreground;
}

.icon {
  font-size: 10px;
}

entry {
  color: $foreground;
  background: transparent;
  border: unset;
  &:focus {
    box-shadow: none;
    background: $module-background;
  }
}

separator {
  border-top: 1px solid $module-secondary;
}

menu {
  @extend .module;
  border-radius: 0;
  background: $background;
  padding: 0;
  menuitem {
    border-radius: 0;
    padding: 5px 0;
    margin: 2.5px 0;
  }
}

levelbar {
  margin: 0;
  padding: 0;
  trough {
    background: $module-background;
    border: unset;
    min-height: 6.9px;
    padding: 10px;
    .filled {
      box-shadow: 0 0 5px 0 $secondary;
      background: $secondary;
      border-radius: 10px;
      border: unset;
    }
  }
}

.switch {
  @extend .module;
  margin: 0;
  padding: 0;
  slider {
    border-radius: 10px;
    font-size: 0.8rem;
    margin: 5px;
    background: mix($foreground, $secondary, 50%);
  }
}

.custom-revealer {
  @extend .module;
  label {
    margin: 0 10px;
  }
  .icon {
    font-size: 1.5em;
    all: unset;
    margin: 0 15px;
  }

  .slider {
    margin-right: 10px;
    margin-left: 5px;
    padding: 0;
    min-width: 100px;

    trough {
      min-height: 2px;
      min-width: 69px;
      border-radius: 10px;
    }

    slider {
      min-height: 1px;
      min-width: 10px;
      margin: -5px;
    }

    &:hover highlight {
      background-color: mix($color4, #ffffff, 50%);
    }
  }
}
