@import "../../../.cache/wal/colors.scss";
@import "colors.scss";

@import "lib.scss";
@import "bar/bar.scss";
@import "bar/bar_left.scss";
@import "bar/bar_middle.scss";
@import "bar/bar_right.scss";

@import "right_panel/right-panel.scss";
@import "right_panel/components/notification-popups.scss";
@import "right_panel/components/notification.scss";
@import "right_panel/components/waifu.scss";

@import "widgets/resources.scss";
@import "widgets/app-launcher.scss";
@import "widgets/media-popups.scss";
@import "widgets/media-widget.scss";
@import "widgets/player.scss";
@import "widgets/progress.scss";
@import "widgets/cava.scss";
@import "widgets/calendar.scss";
@import "widgets/update.scss";

@import "wallpaper/style.scss";

// Use the variables in the styles
window {
  background-color: transparent;
  transition: all 1s;
  font-size: 10px;
  // animation: fade-in 5s;
}
