@import "colors.scss";

@import "lib.scss";
@import "bar/bar.scss";
@import "bar/bar-left.scss";
@import "bar/bar-middle.scss";
@import "bar/bar-right.scss";

@import "panel/panel.scss";

@import "panel/right-panel/right-panel.scss";
@import "panel/right-panel/components/waifu.scss";
@import "panel/right-panel/components/notification.scss";
@import "panel/right-panel/components/notification-popups.scss";

@import "panel/left-panel/left-panel.scss";
@import "panel/left-panel/components/chat-bot.scss";
@import "panel/left-panel/components/booru.scss";
@import "panel/left-panel/components/custom-scripts.scss";

@import "widgets/resources.scss";
@import "widgets/app-launcher.scss";
@import "widgets/media-popups.scss";
@import "widgets/media-widget.scss";
@import "widgets/player.scss";
@import "widgets/progress.scss";
@import "widgets/calendar.scss";
@import "widgets/update.scss";
@import "widgets/settings-widget.scss";
@import "widgets/wallpaper-switcher.scss";
@import "widgets/user-panel.scss";
@import "widgets/notification-history.scss";
@import "widgets/osd.scss";

// Use the variables in the styles
window {
  font-family: "JetBrainsMono NFP", "Noto Font";
  background-color: transparent;
  font-size: 10px;
}
