@import "/home/ayman/.cache/wal/colors.scss";
@import "lib.scss";
@import "bar/bar_left.scss";
@import "bar/bar_middle.scss";
@import "bar/bar_right.scss";

@import "notifications/notification.scss";
@import "notifications/notification-history.scss";

@import "wallpaper/style.scss";

@import "media/style.scss";

// Use the variables in the styles
window {
  transition: all 1s;
  font-size: 10px;
  // animation: fade-in 5s;

  > * {
    padding-bottom: 1px;
  }
}
