.vscode
types
@girs

!assets/

assets/binaries/*
!assets/binaries/

assets/images/*
!assets/images/

assets/thumbnails/*
!assets/thumbnails/

assets/settings/*
!assets/settings/

assets/waifu/*
!assets/waifu/
assets/waifu/favorites/*
!assets/waifu/favorites/

assets/chatbot/*
!assets/chatbot/

!assets/booru/
assets/booru/*
