.vscode
types
@girs

!assets/

assets/images/*
!assets/images/

assets/thumbnails/*
!assets/thumbnails/

assets/terminal/*
!assets/terminal/

assets/settings/*
!assets/settings/

assets/waifu/*
!assets/waifu/
assets/waifu/favorites/*
!assets/waifu/favorites/
