.bar-right {
  transition: all 0.5s;
  padding: 0px;
}

.theme {
  @extend .module;
  transition: all 0.5s;
  border-radius: 10px;
  padding: 0px;
  button {
    border-radius: 10px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }
}

.system {
  @extend .module;
  transition: all 0.5s;
  border-radius: 10px;
  padding: 0px;
}

.wifi-essid {
  padding-left: 5px;
  color: $color3;
}

.scale {
  margin-right: 6px;
  * {
    border-radius: 50%;
  }
  trough {
    min-height: 2px;
    min-width: 60px;
    padding-left: 5px;
    background-color: mix($color1, $background, 75%);
  }

  highlight {
    min-width: 3px;
    background-color: $color2;
  }

  slider {
    min-width: 5px;
    margin: -5px;
    background-color: $color3;
  }
}

.prog-bar {
  min-height: 2px;
  padding: 0px;
  border-radius: 50%;
  trough {
    min-height: 2px;
    min-width: 60px;
    border-radius: 50%;
    background-color: mix($color1, $background, 50%);
  }
  progress {
    min-height: 2px;
    min-width: 4px;
    background-color: mix($color2, $foreground, 50%);
  }
  &.battery {
    progress {
      background-color: rgb(73, 204, 73);
    }
  }
}

$gradient-Colors: $color0, $color1, $color2, $color3, $color4, $color5, $color6;

.resources {
  border-radius: 10px;
  padding: 5px;
  background-size: 200% auto;
  background-image: linear-gradient(to bottom right, $gradient-Colors);
  color: $foreground;

  animation: gradientAnimation 1s infinite ease;

  label {
    font-size: 13;
    padding: 0px;
    margin: 0px;
    @extend .txt;
  }

  .cpu {
    color: mix(orange, $foreground, 70%);
  }
  .ram {
    color: mix(purple, $foreground, 70%);
  }
  .battery {
    color: mix(green, $foreground, 70%);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; // Start position
  }
  100% {
    background-position: 100% 50%; // End position
  }
}
