.workspaces {
  button {
    @extend .module;
    margin-right: 5px;
    transition: all 0.3s;
    border-radius: 10px;
    ////////////////////////////
    padding-right: 5px;
    padding-left: 5px;
    label {
      margin: 0px;
      padding: 0px;
      font-size: 13px;
      min-width: 30px;
    }
    ////////////////////////////
    &.focused {
      padding-right: 20px;
      padding-left: 20px;
      color: $foreground;
      background-color: mix(mix($color0, $color1, 50%), $background, 69%);
      animation: workspace-focus 0.3s ease;
    }
    &.unfocused {
      animation: workspace-unfocus 0.3s ease;
    }
    &.same-focused {
      padding-right: 20px;
      padding-left: 20px;
      color: $foreground;
      background-color: mix(mix($color0, $color1, 50%), $background, 100%);
    }
    ////////////////////////////
    &:hover {
      color: $background;
      background-color: mix(mix($color5, $color6, 50%), $foreground, 69%);
    }
    ////////////////////////////
    &.special {
      color: $background;
      background-color: mix(mix($color5, $color6, 50%), $foreground, 69%);
      font-weight: bolder;
      font-size: 15px;
      padding: 3px;
      margin-left: 10px;
      label {
        margin-right: 0px;
        margin-left: 0px;
      }
    }
  }
}

@keyframes workspace-focus {
  0% {
    padding-right: 5px;
    padding-left: 5px;
  }
  100% {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@keyframes workspace-unfocus {
  0% {
    padding-right: 20px;
    padding-left: 20px;
  }
  100% {
    padding-right: 5px;
    padding-left: 5px;
  }
}
