.bar-center {
  transition: all 0.5s;
}

.bandwidth {
  padding: 0px;
  min-width: 100px;
  label {
    @extend .module;
    padding: 0px;
    border-radius: 10px;
  }
}

.arch {
  @extend .module;
  padding: 0px;
  border-radius: 10px;
  & button {
    transition: all 0.5s;
    border-radius: 10px;
    padding: 5px;
    padding-right: 7px;
    &:hover {
      background-color: mix($color1, $color2, 50%);
      label {
        color: $background;
        text-shadow: $background;
      }
    }
  }
}

.music {
  @extend .module;
  border: none;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-right: 0px;

  .music-cover {
    border-radius: 25;
  }

  .music-label {
    color: $color3;
    margin: 0px;
    text-shadow: 2px 2px 1px #000000;

    &.title {
      font-size: 12;
    }

    &.artist {
      font-size: 10;
    }
  }

  // &:hover {                                    WIP
  //   .music-controls {
  //     box-shadow: -15px 0 5px 3px rgb(255, 255, 255);
  //   }
  // }

  .music-controls {
    padding: 0px;
    margin: 0px;
    margin-left: 15px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: -15px 0 5px 10px black;
    background-color: black;

    * {
      transition: all 0.5s;
    }

    .previous,
    .next {
      color: $color3;
      padding: 0px;
      margin: 0px;
      padding-top: 5px;
      &:hover {
        background-color: mix(mix($color1, $color2, 50%), $background, 50%);
      }
    }
    .next {
      border-radius: 0px 10px 10px 0px;
    }
  }
}

.clock {
  @extend .module;
  margin: 0px;
  padding-right: 0px;
  border-radius: 10px;
}

.titlebar {
  @extend .module;
  border-radius: 10px;
  padding: 0px;
  label {
    transition: all 0.5s;
  }
}
