# Ignore all files
/*

!.gitignore
!README.md

!.config/
.config/*

# Include hyprland config
!.config/hypr/
# Include rofi config
!.config/rofi/
# Include kitty config
!.config/kitty/
# include ranger config
!.config/ranger/
# include btop config
!.config/btop/
# include eww config
!.config/eww/
# include dunst config
!.config/dunst/
# include nvim config
!.config/nvim/
# include aria2c config
!.config/aria2/
# include pipwire config
!.config/pipewire/
# include gtk settings config
!.config/gtk-3.0/
# include xava config
!.config/xava/
# include ags
!.config/ags/
# include wayvnc config
!.config/wayvnc/

# wallpapers
!wallpapers/

# include zsh config
!.zshrc
!.p10k.zsh
