# Ignore all files
/*

!.gitignore
!README.md

!.config/
.config/*

# Include hyprland config
!.config/hypr/
# Include kitty config
!.config/kitty/
# include ranger config
!.config/ranger/
# include btop config
!.config/btop/
# include nvim config
!.config/nvim/
# include aria2c config
!.config/aria2/
# include pipwire config
!.config/pipewire/
# include xava config
!.config/xava/
# include ags
!.config/ags/
# include wayvnc config
!.config/wayvnc/
# include fastfetch config
!.config/fastfetch/
# include cursor themes
!.icons/

# wallpapers
!wallpapers/

# include zsh config
!.zshrc
!.p10k.zsh
