# Ignore all files
/*

!LICENSE

!.gitignore
!README.md
!docs

!.github

!.config/
.config/*

# Include hyprland config
!.config/hypr/
# Include kitty config
!.config/kitty/
# include pipwire config
!.config/pipewire/
# include fastfetch config
!.config/fastfetch/
# wallpapers
!.config/wallpapers/
# include starship config
!.config/starship.toml
# include btop config
!.config/btop/
# Include quickshell
!.config/quickshell

# include icons (cursort theme)
!.icons/

# include zsh config
!.zshrc
