.bar {
  padding: 5px 0px;
  transition: background 0s;

  &.full {
    background: $module-background;
    .bar-left {
      .actions {
        button:first-child {
          border-radius: 0px;
        }
      }
    }
    .bar-right {
      .dnd-toggle {
        border-radius: 10px 0px 0px 10px;
      }
    }
  }

  &.empty {
  }
}
