.theme {
  @extend .module;
  label {
    font-size: larger;
  }
}

.custom-slider {
  label {
    font-size: 1.5em;
    margin: 0px 10px;
    // padding: 0px;
  }
  .icon {
    all: unset;
    margin: 0px 10px;
  }
  button {
    all: unset;
    @extend .module;
  }
  @extend .module;
  padding: 0px 10px;

  .slider {
    // margin: 0px 5px;
    margin-right: 10px;
    padding: 0px;
    min-width: 100px;
    * {
      // border-radius: 50%;
    }

    trough {
      min-height: 2px;
      min-width: 69px;
      // padding-left: 5px;
      border-radius: 10px;
    }

    highlight {
      min-width: 10px;
      background-color: $color4;
    }

    slider {
      min-height: 1px;
      min-width: 10px;
      margin: -6px;
      background-color: $color1;
      color: $color7;
    }

    &:hover {
      highlight {
        background-color: mix($color4, #000000, 50%);
      }
      slider {
        background-color: mix($color2, #000000, 50%);
        color: mix($color2, #000000, 50%);
      }
    }
  }
}

.system-tray {
  button {
    @extend .module;
  }

  button:first-child {
    border-radius: 10px 0px 0px 10px;
  }

  button:last-child {
    border-radius: 0px 10px 10px 0px;
  }

  button:only-child {
    border-radius: 10px;
  }
}
