.bar-right {
  .theme {
    @extend .module;
    label {
      font-size: larger;
    }
  }

  .system-tray {
    button.button {
      @extend .module;
      border-radius: 0px;
    }

    button:first-child {
      border-radius: 10px 0px 0px 10px;
    }

    button:last-child {
      border-radius: 0px 10px 10px 0px;
    }

    button:only-child {
      border-radius: 10px;
    }
  }
}
