$gradient-Colors: $color0, $color1, $color2, $color3, $color4, $color5, $color6;

$custom-background: linear-gradient(
    rgba($background, 0.33),
    rgba($background, 0.33)
  ),
  linear-gradient(to bottom right, $gradient-Colors);

.bar-left {
  .actions {
    button {
      border-radius: 0px;
      padding: 0px 5px;
    }
    button:first-child {
      border-radius: 10px 0px 0px 10px;
    }
    button:last-child {
      border-radius: 0px 10px 10px 0px;
    }
  }
  .workspaces {
    button {
      padding: 0px 10px;
      border-radius: 0px;
      ////////////////////////////
      &.focused {
        background-image: $custom-background;
        animation: workspace-focus 1s;
      }
      &.same-focused {
        background-image: $custom-background;
      }
      &.unfocused {
        animation: workspace-unfocus 1s;
      }
      &.special {
        // background: $color0;
        border-radius: 10px;
        margin-right: 5px;
      }
      &.new-app {
        @extend .danger;
      }
      &.first {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &.last {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      &.between {
        border-radius: 0px;
      }
      &.only {
        border-radius: 10px;
      }
      &.inactive {
        background: transparent;
        padding: 0px;
      }
    }
  }
}

@keyframes workspace-focus {
  0% {
    background: $module-background;
  }
  100% {
    background: $custom-background;
  }
}

@keyframes workspace-unfocus {
  0% {
    background: $custom-background;
  }
  100% {
    background: $module-background;
  }
}
