.notification-eventbox {
  &:hover .top-bar {
    background-color: $background-secondary;
  }
}

.notification {
  @extend .module;
  margin: 0px;
  padding: 0px;
  transition: opacity 0.5s ease-out; /* Adjust timing */

  .main-content {
    padding: 10px;
  }

  .top-bar {
    padding: 0px 5px;
    border-radius: 5px;
    background: $background-transparent;

    .circular-progress-box {
      padding-right: 5px;
    }

    .circular-progress {
      margin: 0px;
      padding: 0px;
      min-width: 20px;
      min-height: 10px;
      font-size: 5px;
    }

    .app-name {
      font-size: 0.9em;
      color: $foreground;
    }

    .lock,
    .copy,
    .close,
    .expand {
      padding: 0px 5px;
      &:not(:hover) {
        background: transparent;
      }
    }

    .close {
      @extend .danger;
    }

    .time {
      font-size: 0.8em;
      color: $foreground-secondary;
    }
  }

  separator {
    margin-bottom: 5px;
  }

  &.Spotify .app-name {
    color: $spotify-foreground;
  }

  .image,
  .icon {
    font-size: 30px;
    min-width: 50px;
    min-height: 50px;

    color: $secondary;
  }

  .title {
    color: $secondary;
    // font-size: 0.9em;
  }

  .body {
    color: $foreground-secondary;
    font-size: 0.9em;
  }
  .actions {
    button {
      // border-radius: 0px;
      margin-top: 10px;
      border-radius: 0px;

      &.delete {
        @extend .danger;
      }

      &:first-child {
        border-radius: 10px 0px 0px 10px;
      }

      &:only-child {
        border-radius: 10px;
      }

      &:last-child {
        border-radius: 0px 10px 10px 0px;
      }
    }
  }
}

// animation keyframes
@keyframes background-pop {
  0% {
    opacity: 0;
    min-width: 50px;
  }
  50% {
    background-color: $foreground;
    color: $background;
  }
  100% {
  }
}

.notification.normal {
  // border: 1px solid rgb(255, 255, 0);
}

.notification.low {
  // border: 1px solid rgb(255, 255, 0);
  // border: 1px solid rgb(0, 0, 255);
}

// .notification.success {
//   border: 1px solid rgb(0, 255, 0);
// }
