.waifu .image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;

  padding: 10px;

  .bottom {
    border-radius: 10px;
    .action-trigger {
      padding: 5px;
      background: $background-transparent;
      &:hover {
        background: $background;
      }
    }
    .actions {
      margin-top: 10px;
      entry {
        // background: $background;
        border-radius: 0px;
        padding: 0px;
        margin: 0px;
      }

      button {
        border-radius: 0px;
      }

      .top button {
        &:first-child {
          border-radius: 10px 0px 0px 0px;
        }
        &:last-child {
          border-radius: 0px 10px 0px 0px;
        }
      }

      .bottom button {
        &:first-child {
          border-radius: 0px 0px 0px 10px;
        }
        &:last-child {
          border-radius: 0px 0px 10px 0px;
        }
      }
    }
  }
}
