.waifu .image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;

  .actions {
    .bottom {
      .action-trigger {
        margin: 5px;
        padding: 5px;
      }
      .actions {
        entry {
          // background: $background;
          border-radius: 0px;
          padding: 0px;
          margin: 0px;
        }

        button {
          border-radius: 0px;
        }
      }
    }
  }
}
