.osd {
  //   padding: 0px;
  //   margin: 0px;
  min-width: 1px;
  min-height: 1px;
  background: transparent;
  padding: 10px 0px 10px 10px;

  .slider {
    min-height: 500px;

    trough {
      border-radius: 50px;

      slider {
        min-width: 33px;
      }
      highlight {
        border-radius: 50px;
      }
    }
  }
}
