.wallpaper-switcher {
  // min-width: 1000px;
  min-height: 150px;
  @extend .module;
  padding: 10px 10px 10px 50px;
  border-radius: 100px;
  border: 5px solid $secondary;
}

.reload-wallpapers.reload-wallpapers {
  padding: 0px;
  min-height: 69px;
  min-width: 69px;
  border-radius: 50%;
}

.workspace-wallpaper {
  transition: all 0.5s;
  border: none;

  background-size: 400px;
  background-position: center;
  background-repeat: no-repeat;

  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;

  padding: 0px;
  margin: 0px;

  &.focused {
    min-height: 150px;
    min-width: 150px;
  }

  &:hover {
    min-height: 200px;
    min-width: 350px;
    background-position: center;
    background-size: 400px;

    border-radius: 20px;
  }

  &:active {
    min-height: 150px;
    min-width: 300px;

    border-radius: 10px;
    transition: all 0.2s;
  }
}
