.wallpaper-switcher {
  // min-width: 1000px;
  min-height: 150px;
  @extend .module;
  padding: 10px 10px;
  border-radius: 100px;
}

.reload-wallpapers.reload-wallpapers {
  @extend .module;
  padding: 0px;
  min-height: 69px;
  min-width: 69px;
  border-radius: 50%;

  font-weight: 800;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.workspace-wallpaper {
  //   @extend .module;
  //   box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
  all: unset;
  transition: all 0.5s;
  border: none;

  background-size: 400px;
  background-position: center;
  background-repeat: no-repeat;

  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;

  font-weight: 800;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);

  &.focused {
    min-height: 150px;
    min-width: 150px;
  }

  &:hover {
    min-height: 200px;
    min-width: 400px;

    border-radius: 20px;
  }

  &:active {
    min-height: 150px;
    min-width: 300px;

    border-radius: 10px;
    transition: all 0.2s;
  }
}
