// Special
$background: #08080c;
$foreground: #aaabb2;
$cursor: #aaabb2;

// Colors
$color0: #08080c;
$color1: #493028;
$color2: #413945;
$color3: #4e505d;
$color4: #917f7a;
$color5: #b7b5ae;
$color6: #d7af96;
$color7: #aaabb2;
$color8: #555765;
$color9: #493028;
$color10: #413945;
$color11: #4e505d;
$color12: #917f7a;
$color13: #b7b5ae;
$color14: #d7af96;
$color15: #aaabb2;
