.notifications {
  min-height: 0px;
  background-color: transparent;
}

.notif {
  @extend .module;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;

  transition: all 1s;
}

.notif image {
  padding-right: 10px;
}
