window.notification-popups box.notifications {
  padding: 0.5em;
}

.icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em;
}

.icon image {
  font-size: 58px;
  /* to center the icon */
  margin: 5px;
  color: $foreground;
}

.icon box {
  min-width: 68px;
  min-height: 68px;
  border-radius: 7px;
}

.notification {
  @extend .module;
  min-width: 350px;
  border-radius: 11px;
  padding: 1em;
  margin: 0.5em;
  // border: 1px solid $background;
  // background-color: $background;
}

.notification.critical {
  border: 1px solid lightcoral;
}

.title {
  color: $foreground;
  font-size: 1.4em;
}

.body {
  color: $foreground;
}

.actions .action-button {
  margin: 0 0.4em;
  margin-top: 0.8em;
}

.actions .action-button:first-child {
  margin-left: 0;
}

.actions .action-button:last-child {
  margin-right: 0;
}
