.app-launcher {
  @extend .module;
  padding: 10px;
  border-radius: 15px;
  min-width: 500px;

  .icon {
    margin: 5px 10px;
  }

  .help {
  }

  .results {
    button {
      border: unset;
      margin-top: 10px;
      padding: 10px;
      &:focus {
        background: $background;
      }
    }
  }
}
