.app-launcher {
  @extend .module;
  padding: 10px;
  border-radius: 15px;

  .icon {
    margin: 5px 10px;
  }
  .input {
    background: transparent;
    min-width: 500px;
    border: unset;
    .left,
    .right {
      border-color: $secondary;
      // background: white;
    }
    &:focus {
      box-shadow: none;
      background: $module-background;
    }
  }
  .results {
    button {
      border: unset;
      margin-top: 10px;
      padding: 10px;
      &:focus {
        background: $background;
      }
    }
  }
}
