.app-launcher {
  @extend .module;
  padding: 10px;
  border-radius: 10px;
  min-width: 500px;

  entry {
    margin-bottom: 10px;
  }

  .quick-apps {
    button {
      padding: 6px;
    }
  }

  .icon {
    margin: 5px 10px;
  }

  .results {
    button {
      padding: 10px;
      .argument {
        color: $secondary;
        font-size: 0.69rem;
      }
      &:focus {
        background: $background;

        &.checked {
          background: $secondary;
          .argument {
            color: white;
          }
        }
      }
      &.checked {
        .argument {
          color: $tertiary;
        }
      }
    }
  }
}
