.calendar {
  @extend .module;
  padding: 5px;

  * {
    background: transparent;
    margin: 0px;
    padding: 5px 0px;
    border: 0px;
    font-weight: 700;
  }

  // .selected,
  // .checked,
  // .active,
  // :checked {
  //   background: blue;
  //   color: blue;
  // }

  // header,
  // .header {
  //   background: white;
  // }
}
