// window.media {
//   > * {
//     margin: 10px;
//     padding: 10px;
//   }
//   margin: 10px;
//   padding: 10px;

//   // background: black;
// }

.media-widget {
  all: unset;
  padding: 0px 10px 10px 10px;

  .player {
    @extend .module;
    padding: 1rem;
    min-width: 400px;
    // border: 1px solid $secondary;
    border-radius: 1rem;
  }

  .player .img {
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-right: 10px;

    // box-shadow: 0px 0px 5px rgba($foreground, 0.5);
  }

  .player .title {
    margin: 5px 0px;
  }

  .player .artist {
    margin: 5px 0px;
    color: $secondary;
  }

  .player .icon {
    margin: 0px;
    padding: 0px;
    // font-size: 1px;
  }

  .player scale.slider {
    // padding: 0;
    margin-bottom: 0.3em;
  }

  .player scale.slider trough {
    min-height: 5px;
    background: $background;
  }

  .player scale.slider highlight {
    background: $secondary;
  }

  .player scale.slider slider {
    all: unset;
    border: none;
    min-height: 10px;
    min-width: 20px;
    margin: -5px;
    border-radius: 10px;
    background: $foreground;
  }

  .player button {
    min-height: 1em;
    min-width: 1em;
    // padding: 0.3em;
  }

  .player button.play-pause {
    margin: 0 0.3em;
  }
}
