.player {
  @extend .module;
  padding: 0px;
  border-radius: 15px;

  .player-content {
    border-radius: 15px;
    padding: 10px;
  }

  &.popup {
    min-width: 400px;
  }

  &.widget {
    background-size: cover;
    background-position: center;
  }

  .img {
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-right: 10px;
  }

  .title {
    margin: 5px 0px;
    background: $background-secondary;
    padding: 0px 10px;
    border-radius: 50px;
    color: $secondary;
    font-size: 0.9em;
  }

  .artist {
    margin: 5px 0px;
    background: $background-secondary;
    padding: 0px 10px;
    border-radius: 50px;
    font-size: 0.9em;
  }

  button {
    padding: $SCALE - 10 $SCALE;
  }
}
