.player {
  @extend .module;
  padding: 10px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.popup {
    min-width: 400px;
  }

  &.widget {
    .bottom-event:hover {
      .bottom {
        background-color: $background-secondary;
      }
    }
    .bottom {
      background: $background-transparent;
      padding: 5px;
    }
  }

  .img {
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-right: 10px;
  }

  .bottom {
    border-radius: 10px;

    .title {
      color: $secondary;
      font-weight: 700;
    }

    .artist {
      font-size: 0.9em;
      font-weight: 400;
    }

    .time {
      font-size: 0.8em;
      font-weight: 400;
    }
  }

  button {
    padding: $SCALE - 10 $SCALE;
    background: transparent;
    &:hover {
      background: $background;
    }
  }
}
