.player {
  @extend .module;
  padding: 0px;
  border-radius: 15px;
  // background: black;

  .player-content {
    border-radius: 15px;
    padding: 10px;
  }

  &.popup {
    min-width: 400px;
  }

  &.widget {
    background-size: cover;
    background-position: center;
  }

  .img {
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-right: 10px;
  }

  .title {
    margin: 5px 0px;
    color: $secondary;
  }

  .artist {
    margin: 5px 0px;
  }

  .icon {
    margin: 0px;
    padding: 0px;
    // font-size: 1px;
  }

  button {
    min-height: 1rem;
    min-width: 1rem;
    // padding: 0.3rem;
  }

  button.play-pause {
    margin: 0 0.3rem;
  }
}
