.settings-widget {
  // border: 1px solid $secondary;
  min-width: 500px;
  @extend .module;
  padding: 0px;

  .window-actions {
    border-radius: 10px 10px 0px 0px;
    background: $background;
    padding: 10px;
  }
  .category {
    background: $background;
    color: $foreground;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid $tertiary;
    font-size: 1.5em;
  }
  .settings {
    padding: 10px;
  }
  .setting {
    @extend .module;
    padding: 10px;
  }
}
