.user-panel {
  .close {
    padding: 10px 20px;
    font-size: 1.5rem;
  }
  .player {
    min-width: 200px;
  }
  .profile {
    @extend .module;
    padding: 10px;
    .user-name {
      margin: 25px 0px;
      font-size: 1.5em;
      .name {
        color: $secondary;
      }
    }
    .profile-picture {
      min-width: 200px;
      min-height: 200px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      button {
        all: unset;
        font-size: 0px;
        border-radius: 50%;

        &:hover {
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  .actions {
    button {
      min-height: 69px;
      min-width: 69px;
      font-size: 3em;
    }
  }
}
