.waifu {
  //   @extend .module;
  // margin: 5px 10px;
  padding: 0px;

  .image > * {
    margin: 10px;
    min-width: unset;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 250px;
    border-radius: 10px;
    // box-shadow: 0px 0px 10px 0px #c5a2bc;

    .actions {
      margin: 5px;

      .button {
        @extend .module;
        border-radius: 0px;
        min-height: 0px;
        min-width: 0px;

        &:first-child {
          border-radius: 10px 0px 0px 10px;
        }

        &:last-child {
          border-radius: 0px 10px 10px 0px;
        }
      }

      .input {
        & > * {
          // @extend .module;
          background: transparent;
          border-radius: 0px 10px 10px 0px;
          margin: 0px;
          min-width: 1px;
          &:focus {
            border-color: $secondary;
          }
        }
      }
    }
  }
}
