/* @import url("/home/ayman/.cache/wal/colors-custom-gtk3.css"); */

* {
  /* font-family: JetBrains Mono, monospace; */
  font-weight: bolder;
  font-size: 12px;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
}

window#waybar {
  padding: 0;
  margin: 0;
  /* background: @backgroundAlpha; */
  /* border-bottom: .1rem solid @color0Alpha; */
  /* border-bottom: 1px solid rgba(255, 255, 255,0.9); */
  background: rgba(0, 0, 0, 0);
  color: rgb(180, 180, 180);
}

window {
  margin: 3px 3px;
}

window * {
  border-radius: 10px;
}

window#waybar.empty #window {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  transition: all 0.5s cubic-bezier(0.5, 1, 0, 2);
}
window#waybar.empty {
  background-color: unset;
  border-bottom: unset;
}

window#waybar.empty #custom-resetWaybar,
window#waybar.empty #custom-media,
window#waybar.empty #custom-weather,
window#waybar.empty #custom-controls,
window#waybar.empty #mpd,
/* window#waybar.empty #window, */
window#waybar.empty #clock,
window#waybar.empty #pulseaudio,
window#waybar.empty #network,
window#waybar.empty #tray,
window#waybar.empty #memory,
window#waybar.empty #cpu,
window#waybar.empty #backlight,
window#waybar.empty #workspaces button,
window#waybar.empty #battery {
  background-color: rgba(0, 0, 0, 0.5);
}

window#waybar.empty #workspaces button.active {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(90, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
#custom-resetWaybar,
#custom-weather,
#custom-media,
#custom-controls,
#mpd,
#window,
#clock,
#pulseaudio,
#network,
#workspaces,
#tray,
#memory,
#cpu,
#backlight,
#battery {
  background: rgba(0, 0, 0, 0.5);
  padding: 0px 10px;
  /* margin: 3px 3px; */
  border: unset;
}

/* CLOCK */
#clock {
  color: #fab387;
}

/* WORKSPACES */

#workspaces {
  background-color: transparent;
}

#workspaces button {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border: 1px;
  border-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-right: 10px;
  font-weight: bolder;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
  padding-right: 20px;
  padding-left: 20px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(90, 0, 0, 0.75) 50%,
    rgba(0, 0, 0, 0.75) 100%
  );
  background-size: 400% 400%;
  animation: gradient_f 10s linear infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

/* #workspaces button.focused {
  background-color: #f53c3c;
} */

#workspaces button label {
  color: rgb(255, 255, 255);
}

#workspaces button.active label {
  color: rgb(255, 45, 45);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }
  50% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 400% 200%;
  }
}

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 200%;
  }
  100% {
    background-position: 200% 200%;
  }
}

/* RESET ALL */
#custom-resetWaybar {
  color: rgb(255, 255, 255);
  margin-left: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

/* ______________________________________________________________ */

#window {
  /* background-color: #f53c3c; */
  padding: 0px;
  padding-right: 10px;
  padding-left: 10px;
  transition: all 1s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

/* ______________________________________________________________ */

/* TRAY */
#tray {
  margin-right: 10px;
}

/* AUDIO */
#pulseaudio {
  color: rgb(55, 195, 255);
  /* border-radius: 10px 0px 0px 10px; */
  border-radius: 10px 0px 0px 10px;
}
#pulseaudio.microphone {
  /* border-radius: 0px 10px 10px 0px; */
  /* margin-right: 10px; */
  border-radius: unset;
}
#custom-controls {
  color: rgb(55, 195, 255);
  border-radius: unset;
}

#custom-media {
  font-size: x-small;
  border: none;
  border-radius: unset;
  color: rgb(0, 255, 0);
  background-color: rgb(95, 133, 95);
}

/* SYSTEM */
#battery {
  /* border-radius: 10px 0px 0px 10px; */
  border-radius: unset;
  color: rgb(140, 200, 140);
}
#cpu {
  border-radius: 0px 0px 0px 0px;
  color: rgb(255, 155, 155);
}
#memory {
  border-radius: 0px 10px 10px 0px;
  color: rgb(255, 170, 170);
}

/* NETWORK */
#network {
  font-size: x-small;
}

#network.disconnected {
  background-color: #f53c3c;
}
