window.notification-popups {
  padding: 0rem;
  border-radius: 10px;
}

.notification {
  @extend .module;
  min-width: 400px;
  border-radius: 1rem;
  padding: 1em;
  background-color: $background;

  .icon {
    min-width: 50px;
    min-height: 50px;
    margin-right: 1em;
  }

  .icon image {
    font-size: 40px;
    /* to center the icon */
    margin: 5px;
    color: $secondary;
  }

  .icon box {
    min-width: 50px;
    min-height: 50px;
    border-radius: 7px;
  }

  .title {
    color: $foreground;
    font-size: 1.4em;
    font-weight: 900;
  }

  .close {
    @extend .module;
    @extend .button;
  }

  .body {
    color: $secondary;
    font-size: 1.2em;
  }

  .actions .action-button {
    margin: 0 0.4em;
    margin-top: 0.8em;
  }

  .actions .action-button:first-child {
    margin-left: 0;
  }

  .actions .action-button:last-child {
    margin-right: 0;
  }
}

// animation keyframes
@keyframes background-pop {
  0% {
    opacity: 0;
    min-width: 50px;
  }
  50% {
    background-color: $foreground;
    color: $background;
  }
  100% {
  }
}

.notification.Spotify {
  background-color: mix(rgba(30, 215, 95, 0.5), $background, 33%);
  border: 1px solid rgb(30, 215, 95);
}

.notification.critical {
  border: 1px solid rgb(255, 0, 0);
}

.notification.normal {
  // border: 1px solid rgb(255, 255, 0);
}

.notification.low {
  // border: 1px solid rgb(255, 255, 0);
  // border: 1px solid rgb(0, 0, 255);
}

// .notification.success {
//   border: 1px solid rgb(0, 255, 0);
// }
