.right-panel {
  &.exclusive > * {
    border-radius: 0px;
  }
  &.normal > * {
    border-radius: 10px;
    margin: 10px 15px;
  }

  > * {
    @extend .module;
    border-radius: 0px 0px 0px 0px;
    // border: 1px solid $secondary;
    padding: 0px;
    min-width: 300px;

    .window-actions {
      margin: 5px;
      .button {
        padding: 0px 10px;
        margin: 0px;
        min-height: 10px;
        box-shadow: unset;
      }
    }
  }
}

.options {
  margin: 10px 10px 1px 10px;

  .button {
    @extend .module;
    padding: 5px 0px;
    border-radius: 0px;
    min-height: 0px;
    min-width: 0px;

    &:first-child {
      border-radius: 10px 0px 0px 10px;
    }

    &:last-child {
      border-radius: 0px 10px 10px 0px;
    }
  }
}

.clear {
  @extend .module;
  margin: 0px 10px;

  background: rgba(177, 62, 62, 0.493);
  color: $foreground;
  &:hover {
    background: rgba(177, 62, 62, 0.8);
  }
}

.notification-event {
  .notification {
    margin: 5px 10px;
    padding: 10px;
    min-width: 0px;

    .summary {
      color: $foreground;
      font-size: 1.2rem;
    }

    .icon {
      min-width: 20px;
      min-height: 20px;

      image {
        font-size: 25px;
      }

      box {
        min-width: 40px;
        min-height: 40px;
        border-radius: 10px;
      }
    }

    // .body {
    //     color: $foreground;
    // }
  }

  // &:hover * {
  //   background: $black;
  // }
}
