.right-panel {
  &.exclusive {
    border-radius: 0px;
  }
  &.normal {
    border-radius: 15px;
    margin: 10px 15px;
  }

  @extend .module;
  border-radius: 0px 0px 0px 0px;
  // border: 1px solid $secondary;
  padding: 0px;

  .right-panel-actions {
    @extend .module;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    // border-left: 1px solid $secondary;
    button {
      border-radius: 0px;
      padding: 5px;
    }
  }

  .notification-history {
    // @extend .module;
    margin: 0px 10px;

    .filter {
      margin-bottom: 5px;
      .spotify {
        background: $spotify-background;
      }
      .clipboard {
        background: $blue-background;
      }
      .update {
        background: $orange-background;
      }
      button {
        padding: 5px 0px;
        border-radius: 0px;
        min-height: 0px;
        min-width: 0px;

        &:first-child {
          border-radius: 10px 0px 0px 10px;
        }

        &:last-child {
          border-radius: 0px 10px 10px 0px;
        }
      }
    }
    .notification {
      padding: 10px;
      min-width: 0px;

      .summary {
        color: $foreground;
        font-size: 1.2rem;
      }

      .icon {
        min-width: 20px;
        min-height: 20px;

        image {
          font-size: 25px;
        }

        box {
          min-width: 40px;
          min-height: 40px;
          border-radius: 10px;
        }
      }
    }
    .clear {
      @extend .danger;
      // margin-top: 5p;
    }
  }
}
