.right-panel {
  &.exclusive {
    border-radius: 0px;
  }
  &.normal {
    border-radius: 15px;
    margin: 10px 15px;
  }

  @extend .module;
  border-radius: 0px 0px 0px 0px;
  // border: 1px solid $secondary;
  padding: 0px;

  .window-actions {
    margin: 5px;
    .button {
      padding: 0px 10px;
      margin: 0px;
      min-height: 10px;
      box-shadow: unset;
    }
  }

  .notification-panel {
    @extend .module;
    margin: 0px 10px;
    padding: 5px;

    .filter {
      .spotify {
        background: $green;
      }
      .clipboard {
        background: $blue;
      }
      .update {
        background: $orange;
      }
      button {
        padding: 5px 0px;
        border-radius: 0px;
        min-height: 0px;
        min-width: 0px;

        &:first-child {
          border-radius: 10px 0px 0px 10px;
        }

        &:last-child {
          border-radius: 0px 10px 10px 0px;
        }
      }
    }

    .clear {
      @extend .danger;
    }

    .notification-event {
      .notification {
        margin: 5px 0px;
        padding: 10px;
        min-width: 0px;

        .summary {
          color: $foreground;
          font-size: 1.2rem;
        }

        .icon {
          min-width: 20px;
          min-height: 20px;

          image {
            font-size: 25px;
          }

          box {
            min-width: 40px;
            min-height: 40px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
