window.notification-popups {
  padding: 0rem;
  border-radius: 10px;
}

.icon {
  min-width: 50px;
  min-height: 50px;
  margin-right: 1em;
}

.icon image {
  font-size: 50px;
  /* to center the icon */
  margin: 5px;
  color: $foreground;
}

.icon box {
  min-width: 50px;
  min-height: 50px;
  border-radius: 7px;
}

.notification {
  @extend .module;
  min-width: 350px;
  border-radius: 11px;
  padding: 1em;
  margin: 0rem;
  // border: 1px solid $background;
  background-color: $background;
  animation: background-pop 0.5s ease;
}

// animation keyframes
@keyframes background-pop {
  0% {
    opacity: 0;
    min-width: 50px;
  }
  50% {
    background-color: $foreground;
    color: $background;
  }
  100% {
    opacity: 1;
    min-width: 350px;
  }
}

.notification.Spotify {
  background-color: mix(rgba(30, 215, 95, 0.5), $background, 33%);
}

.notification.critical {
  border: 1px solid rgb(255, 0, 0);
}

.notification.warning {
  border: 1px solid rgb(255, 255, 0);
}

.notification.info {
  border: 1px solid rgb(0, 0, 255);
}

.notification.success {
  border: 1px solid rgb(0, 255, 0);
}

.title {
  color: $foreground;
  font-size: 1.4em;
  font-weight: 900;
}

.body {
  color: $secondary;
  font-size: 1.2em;
}

.actions .action-button {
  margin: 0 0.4em;
  margin-top: 0.8em;
}

.actions .action-button:first-child {
  margin-left: 0;
}

.actions .action-button:last-child {
  margin-right: 0;
}
