.notification-history {
  @extend .module;
  background: $background;
  border-radius: 10px 0px 0px 0px;
  border: 1px solid $foreground;
  border-right: 0px;
  border-bottom: 0px;
  // padding: 1rem 0rem 0rem 1rem;
  padding: 0rem;
}
.notification-event {
  .notification {
    margin: 1rem 1rem;

    .summary {
      color: $foreground;
      font-size: 1.2rem;
    }

    // .body {
    //     color: $foreground;
    // }
  }

  // &:hover * {
  //   background: $black;
  // }
}
