.notification-history {
  @extend .module;
  border-radius: 10px 0px 0px 10px;
  padding: 1rem;
}
.notification-event {
  .notification {
    margin: 1rem 0rem;
    padding: 0;

    .summary {
      color: $foreground;
      font-size: 1.2rem;
    }

    // .body {
    //     color: $foreground;
    // }
  }

  // &:hover * {
  //   background: $black;
  // }
}
