.notification-history {
  @extend .module;
  background: $background;
  border-radius: 10px 0px 0px 0px;
  border: 1px solid $secondary;
  border-right: 0px;
  border-bottom: 0px;
  padding: 0rem;
  min-width: 300px;
}
.notification-event {
  .notification {
    margin: 0.5rem 1rem;
    min-width: 0px;

    .summary {
      color: $foreground;
      font-size: 1.2rem;
    }

    // .body {
    //     color: $foreground;
    // }
  }

  // &:hover * {
  //   background: $black;
  // }
}
