.bar-center {
  transition: all 1s;
}

.arch {
  @extend .module;
  padding: 0px;
  margin: 0px 5px;
  border-radius: 10px;
  & button {
    transition: all 0.5s;
    border-radius: 10px;
    padding: 5px;
    padding-right: 7px;
    &:hover {
      background-color: mix($color1, $color2, 50%);
      label {
        color: $background;
        text-shadow: $background;
      }
    }
  }
}

.music {
  @extend .module;
  border: none;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-right: 0px;

  .previous {
    margin-left: 5px;
    border-radius: 10px 0px 0px 10px;
  }
  .next {
    border-radius: 0px 10px 10px 0px;
  }

  .previous,
  .next {
    @extend .module;
    padding-top: 5px;
    &:hover {
      background-color: mix($color1, $color2, 50%);
      label {
        color: $background;
        text-shadow: $background;
      }
    }
  }
}

.music-cover {
  border-radius: 25;
}

.music-label {
  color: $color3;
  margin: 0px;
  text-shadow: 2px 2px 2px black;

  &.title {
    font-size: 12;
  }

  &.artist {
    font-size: 10;
  }
}

.clock {
  @extend .module;
  margin: 0px;
  padding-right: 0px;
  border-radius: 10px;
}

.titlebar {
  @extend .module;
  border-radius: 10px;
  margin-left: 5px;
  label {
    transition: all 1s;
  }
}
