.notification {
  @extend .module;
  min-height: 2px;
  min-width: 400px;
  padding: 10px;
  margin: 0px;
  // opacity: 0;
  transition: opacity 0.5s ease-out; /* Adjust timing */

  &.Spotify {
    background: $spotify-background;
  }

  .icon {
    min-width: 50px;
    min-height: 50px;
    margin-right: 1em;
  }

  .icon image {
    font-size: 40px;
    /* to center the icon */
    margin: 5px;
    color: $secondary;
  }

  .icon box {
    min-width: 50px;
    min-height: 50px;
    border-radius: 7px;
  }

  .title {
    color: $foreground;
    font-size: 1.4em;
    font-weight: 900;
  }

  .body {
    color: $secondary;
    font-size: 1.2em;
  }

  .actions {
    button {
      // border-radius: 0px;
      margin-top: 10px;

      &.delete {
        @extend .danger;
      }

      // &:first-child {
      //   border-radius: 10px 0px 0px 10px;
      // }

      // &:only-child {
      //   border-radius: 10px;
      // }

      // &:last-child {
      //   border-radius: 0px 10px 10px 0px;
      // }
    }
    // margin: 0 0.4em;
    // margin-top: 0.8em;
  }
}

// animation keyframes
@keyframes background-pop {
  0% {
    opacity: 0;
    min-width: 50px;
  }
  50% {
    background-color: $foreground;
    color: $background;
  }
  100% {
  }
}

.notification.normal {
  // border: 1px solid rgb(255, 255, 0);
}

.notification.low {
  // border: 1px solid rgb(255, 255, 0);
  // border: 1px solid rgb(0, 0, 255);
}

// .notification.success {
//   border: 1px solid rgb(0, 255, 0);
// }
