.notification {
  @extend .module;
  min-height: 2px;
  // min-width: 300px;
  margin: 0px;
  padding: 0px;
  transition: opacity 0.5s ease-out; /* Adjust timing */

  separator {
    margin-bottom: 5px;
  }

  .circular-progress {
    margin: 0px;
    padding: 0px;
    min-width: 20px;
    min-height: 10px;
    font-size: 5px;

    label {
      font-size: 10px;
      font-weight: 800;
      color: $foreground;
    }
  }

  .app-name {
    font-size: 0.9em;
    font-weight: 900;
    color: $foreground;
  }

  .time {
    font-size: 0.8em;
    color: $foreground-secondary;
  }

  .lock,
  .copy,
  .expand {
    padding: 0px 5px;
  }

  .close {
    padding: 0px;
    @extend .danger;
  }

  .main-content {
    padding: 10px;
  }

  &.Spotify .app-name {
    color: $spotify-foreground;
  }

  .image,
  .icon {
    font-size: 30px;
    min-width: 50px;
    min-height: 50px;

    color: $secondary;
  }

  .title {
    color: $secondary;
    font-size: 1em;
    font-weight: 900;
  }

  .body {
    color: $foreground-secondary;
    font-size: 1em;
  }
  .actions {
    button {
      // border-radius: 0px;
      margin-top: 10px;
      border-radius: 0px;

      &.delete {
        @extend .danger;
      }

      &:first-child {
        border-radius: 10px 0px 0px 10px;
      }

      &:only-child {
        border-radius: 10px;
      }

      &:last-child {
        border-radius: 0px 10px 10px 0px;
      }
    }
    // margin: 0 0.4em;
    // margin-top: 0.8em;
  }
}

// animation keyframes
@keyframes background-pop {
  0% {
    opacity: 0;
    min-width: 50px;
  }
  50% {
    background-color: $foreground;
    color: $background;
  }
  100% {
  }
}

.notification.normal {
  // border: 1px solid rgb(255, 255, 0);
}

.notification.low {
  // border: 1px solid rgb(255, 255, 0);
  // border: 1px solid rgb(0, 0, 255);
}

// .notification.success {
//   border: 1px solid rgb(0, 255, 0);
// }
