.waifu .image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;

  .actions {
    .top {
      margin: 5px;
    }
    .favorites {
      @extend .module;
      padding: 0px;
      border-radius: 0px 10px 10px 0px;
      .favorite-event:hover {
        background: $module-background;
        .delete {
          padding: 0px 10px;
        }
      }

      .favorite {
        padding: 10px 0px 10px 10px;
        font-size: 10px;

        .delete {
          padding: 1px;
          border-radius: 10px 0px 0px 10px;
        }
      }
      .add {
        margin-top: 10px;
        border-radius: 0px;
      }
    }
    .bottom {
      // margin: 5px;
      .action-trigger {
        // font-size: 15px;
        margin: 5px;
        min-width: 30px;
        padding: 0px;
        border-radius: 10px;
      }
      entry {
        background: $module-background;
        border-radius: 0px;
        padding: 0px;
        margin: 0px;
      }

      button,
      .button {
        min-height: 0px;
        min-width: 0px;
        border-radius: 0px;

        &.pin {
          border-radius: 10px;
        }

        &.favorite {
          // border-radius: 0px 0px 10px 0px;
        }

        &.random {
          // border-radius: 0px;
        }

        &.browser {
          // border-radius: 0px;
        }

        &.copy {
          // border-radius: 0px;
        }

        &.entry-search {
          border-radius: 0px 0px 0px 10px;
        }

        &.nsfw {
          @extend .danger;
          border-radius: 0px 0px 10px 0px;
        }
      }
    }
  }
}
