.bar-center {
  @extend .txt;
  transition: all 0.5s;
}

.bandwidth {
  padding: 0px;
  // min-width: 100px;

  label {
    @extend .module;
    font-size: 10px;
    padding: 0px;
    border-radius: 10px;
  }
}

.arch {
  @extend .module;
  padding: 0px;
  border-radius: 10px;
  & button {
    transition: all 0.5s;
    border-radius: 10px;
    padding: 0px 5px;
    &:hover {
      background-color: mix($color1, $color2, 50%);
      label {
        color: $background;
        text-shadow: $background;
      }
    }
  }
}

.music {
  @extend .module;
  padding: 0px 5px;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-shadow: 1px 1px 1px #000000;

  &:hover {
    // background-color: aliceblue;
  }

  .progress {
    margin: 0px;
    padding: 0px;
    label {
      padding: 1px;
    }
  }

  .music-cover {
    border-radius: 25;
  }

  .music-label {
    margin: 0px;

    &.title {
      font-size: 12;
    }

    &.artist {
      font-size: 11;
    }
  }
  .music-controls {
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    * {
      transition: all 0.5s;
    }
    .previous,
    .next {
      color: $color3;
      &:hover {
        background-color: mix(mix($color1, $color2, 50%), $background, 50%);
      }
    }
    .next {
      border-radius: 0px 10px 10px 0px;
    }
  }
}

.clock {
  @extend .module;
  margin: 0px;
  padding: 0px 5px;
  border-radius: 10px;
}

.titlebar {
  @extend .module;
  border-radius: 10px;
  padding: 0px;
  label {
    transition: all 0.5s;
  }
}
