.bar-right {
  transition: all 0.5s;
  padding: 0px;
}

.theme {
  // @extend .module;
  border-radius: 10px;
  padding: 0px;
  button {
    transition: all 0.5s;
    border-radius: 10px;
    margin: 0px;
    // padding: 0px 10px;
    &:hover {
      background-color: $foreground;
      color: $background;
    }
  }
}

.system {
  @extend .module;
  transition: all 0.5s;
  border-radius: 10px;
  padding: 0px;
  > * {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@mixin generate-styles($color) {
  color: $color;
  highlight,
  slider {
    background-color: $color;
  }
}

.bluetooth-connected {
  @include generate-styles(mix(rgb(0, 130, 252), $foreground, 69%));
}
.bluetooth-disconnected {
  @include generate-styles(mix(rgb(139, 139, 139), $foreground, 69%));
}
.brightness {
  @include generate-styles(mix(rgb(200, 200, 100), $foreground, 69%));
}
.audio {
  @include generate-styles(mix(rgb(255, 255, 255), $foreground, 69%));
}
.internet {
  @include generate-styles(mix(rgb(0, 200, 255), $foreground, 69%));
}

.scale {
  margin: 0px 5px;
  * {
    border-radius: 50%;
  }
  trough {
    min-height: 2px;
    min-width: 69px;
    padding-left: 5px;
  }

  highlight {
    min-width: 3px;
    // background-color: $color5;
  }

  slider {
    min-width: 5px;
    margin: -5px;
    // background-color: $color6;
  }
}

.prog-bar {
  min-height: 2px;
  padding: 0px;
  border-radius: 50%;
  trough {
    min-height: 2px;
    min-width: 60px;
    border-radius: 50%;
    background-color: mix($color1, $background, 50%);
  }
  progress {
    min-height: 2px;
    min-width: 4px;
    background-color: mix($color2, $foreground, 50%);
  }
}

.resources {
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  background-color: rgba($background, 30%);
  label {
    @extend .icon;
    color: rgb(0, 0, 0);
    font-size: 25;
    margin: 0px;
  }
  .cpu {
    color: orange;
  }
  .ram-usage {
    color: rgb(69, 69, 255);
  }
  .battery {
    margin-left: 5px;
  }
  .gpu-usage {
    color: rgb(255, 69, 69);
  }

  .ram {
    padding: 0px;
    margin: 0px;
    label {
      margin: 5px;
      color: rgb(69, 69, 255);
      font-size: 15;
    }
  }

  .gpu {
    padding: 0px;
    margin: 0px;
    // color: white;
    .vram {
      color: rgb(255, 255, 255);
      label {
        margin: 5px;
        color: rgb(255, 255, 255);
        font-size: 15;
      }
    }
  }
}
