.bar {
  margin-top: 5px;
  margin-bottom: 1px;
  padding: 0px 10px;
  // padding: 5 0 0 0;
}

//#region left-bar
//#region Music
.music {
  @extend .module;
  // padding-left: 0;
  // background-repeat: no-repeat;
  // background-size: 80%;
  // background-position: right 55%;
  border: 1 solid;
  border-color: $unfocused;
  border-radius: 10px 0px 0px 10px;
  margin: 0px;
}

.music-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 25;
}

.music-label {
  color: $foreground-alt;
  margin: 0px;
  text-shadow: 2px 2px 2px black;

  &.title {
    font-size: 12;
  }

  &.artist {
    font-size: 10;
  }
}

// .music-unlabel {
//   margin-left: 10;
//   color: $foreground-alt;
//   font-size: 14;
//   font-weight: bolder;
// }

//#endregion
//#endregion

//#region center-bar
.clock {
  margin: 0px;
  border-radius: 10px;
  &.no-radius-left {
    border-radius: 0px 10px 10px 0px;
  }
  &.no-radius-right {
    border-radius: 10px 0px 0px 10px;
  }
  &.no-radius {
    border-radius: 0px;
  }
}

.titlebar {
  //box-shadow: 0px 1px 2px $background-darker-alt;
  border-radius: 0px 10px 10px 0px;
  margin-left: 0px;
  label {
    // padding-right: 2px;
    transition: all 1s;
  }
}

//#region workspaces

@mixin ws-btn-font {
  font-size: 12;
  font-weight: bolder;
}

@keyframes to-focused {
  0% {
    border-bottom: 0 solid;
    border-top: 0 solid;
  }
  100% {
    border-bottom: 5 solid;
    border-top: 5 solid;
    border-color: $focused;
  }
}

.ws {
  font-size: 12;
  font-weight: bolder;
  transition: all 0.5s;
  button {
    margin: 0px;
    padding: 0px;
    color: rgba(255, 255, 255, 0.103);
    transition: all 0.5s;
    &.ws-btn {
      background-color: $background-alt;
      border-radius: 90%;
      border-top: 10 solid;
      border-bottom: 10 solid;
      label {
        font-size: 0.1em;
      }
      &:hover label {
        font-size: 0.75em;
        transition-delay: 500ms;
      }
    }
    &.ws-btn-active {
      background-color: rgba(0, 0, 0, 0.507);
      color: rgb(78, 78, 78);
      border-radius: 75%;
      border-top: 6 solid;
      border-bottom: 6 solid;
      label {
        color: aliceblue;
        font-size: 0.75em;
      }
    }
    &.ws-btn-focused {
      color: $hover-alt;
      background-color: $hover;
      border-color: $focused;
      border-radius: 50%;
      border-top: 2 solid;
      border-bottom: 2 solid;
    }
    &:hover {
      color: $hover-alt;
      background-color: $hover;
      border-color: $hover-alt;
      border-top: 1 solid;
      border-bottom: 1 solid;
      label {
        color: black;
      }
    }
  }
}

//#endregion
//#endregion

//#region right-bar
.bar-right {
  transition: all 1s;
  .module {
    //box-shadow: -5px 3px 3px $background-darker-alt;
  }
}

.bar-center {
  transition: all 1s;
}

//#endregion
//#region Toggles
// .toggles-wifi-essid {
// }

.scale {
  border-radius: 99px;
  transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
  margin-right: 6px;

  trough {
    min-height: 3px;
    min-width: 60px;
    border-radius: 99px;
    background-color: mix($foreground-alt, rgba(0, 0, 0, 0), 30%);
  }

  highlight {
    min-width: 3px;
    border-radius: 99px;
    background-color: $focused;
    transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
  }

  slider {
    min-width: 5px;
    margin: -5px;
    border-radius: 99px;
    background-color: $focused;
  }
}

//#endregion
//#region Resources
.prog-bar {
  min-height: 4px;
  padding: 0px;
  border-radius: 99px;

  trough {
    min-height: 4px;
    min-width: 60px;
    border-radius: 99px;
    background-color: mix($foreground-alt, rgba(0, 0, 0, 0), 30%);
    // background-color: $background-accented;
  }
  progress {
    min-height: 4px;
    min-width: 4px;
    border-radius: 99px;
    border-radius: 99px;
    background-color: $focused;
  }

  &.temp {
    padding: 0px;
    min-height: 10px;
    min-width: 10px;

    trough {
      min-height: 20px;
      min-width: 10px;
      background-color: unset;
    }
    progress {
      min-height: 4px;
      min-width: 4px;
      border-radius: 99px;
      border-radius: 99px;
      background-color: rgb(255, 75, 75);
    }
  }

  &.battery {
    trough {
      min-width: 30px;
    }
    progress {
      background-color: rgb(100, 200, 100);
    }
  }
}

//#endregion
//#endregion
