.bar {
  margin-top: 5px;
  margin-bottom: 1px;
  padding: 0px 10px;
  // padding: 5 0 0 0;
}

//#region left-bar
//#region Music
.music {
  @extend .module;
  // padding-left: 0;
  // background-repeat: no-repeat;
  // background-size: 80%;
  // background-position: right 55%;
  // border: 1 solid;
  border: none;
  border-color: $color5;
  border-radius: 10px 0px 0px 10px;
  margin: 0px;
}

.music-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 25;
}

.music-label {
  color: $color3;
  margin: 0px;
  text-shadow: 2px 2px 2px black;

  &.title {
    font-size: 12;
  }

  &.artist {
    font-size: 10;
  }
}

// .music-unlabel {
//   margin-left: 10;
//   color: $color3;
//   font-size: 14;
//   font-weight: bolder;
// }

//#region center-bar
.clock {
  margin: 0px;
  border-radius: 10px;
  &.no-radius-left {
    border-radius: 0px 10px 10px 0px;
  }
  &.no-radius-right {
    border-radius: 10px 0px 0px 10px;
  }
  &.no-radius {
    border-radius: 0px;
  }
}

.titlebar {
  //box-shadow: 0px 1px 2px $background-darker-alt;
  border-radius: 0px 10px 10px 0px;
  margin-left: 0px;
  label {
    // padding-right: 2px;
    transition: all 1s;
  }
}

//#region workspaces

@keyframes eye-blink {
  0% {
    border-bottom: 6 solid;
    border-top: 6 solid;
  }
  10% {
    border-bottom: 11 solid;
    border-top: 11 solid;
  }
  20% {
    border-bottom: 6 solid;
    border-top: 6 solid;
  }
   100% {
    border-bottom: 6 solid;
    border-top: 6 solid;
  }
}

@keyframes eye-blink-label {
  0% {
   font-size: 0.75em;
  }
  10% {
    font-size: 0.2em;
  }
  20% {
    font-size: 0.75em;
  }
   100% {
    font-size: 0.75em;
  }
}

.ws {
  font-size: 12;
  font-weight: bolder;
  transition: all 0.5s;

  button {
    border-radius: 100%;
    padding: 0px;
    margin: 0px;
    transition: all 1s;
    background-color: mix($color2 , $background, $weight: 40%);
    color: $background;
    &.ws-btn {
      border-top: 11 solid;
      border-bottom: 11 solid;
      label {
        font-size: 0.2em;
        color: rgb(255, 255, 255);
      }
      &:hover label {
        font-size: 0.75em;
        transition-delay: 500ms;
      }
    }
    &.ws-btn-active {
      border-top: 6 solid;
      border-bottom: 6 solid;
      label {
        color: aliceblue;
        font-size: 0.75em;
        // animation: eye-blink-label 10s infinite;
      }
      // animation: eye-blink 1s infinite;
    }
    &.ws-btn-focused {
      color: $foreground;
      background-color: mix($color2, $background, $weight: 66%);
      border-radius: 50%;
      border-top: 2 solid;
      border-bottom: 2 solid;
    }
    &:hover {
      background-color: $color1;
      border-top: 1 solid;
      border-bottom: 1 solid;
      label {
        color: $foreground;
      }
    }
  }
}

//#region right-bar
.bar-right {
  transition: all 1s;
}

.wifi-essid {
  padding-left: 5px;
  color: $color3;
}

.bar-center {
  transition: all 1s;
}

.scale {
  border-radius: 99px;
  margin-right: 6px;

  trough {
    min-height: 3px;
    min-width: 60px;
    border-radius: 99px;
    background-color: mix($color1, rgba(0, 0, 0, 0), 75%);
  }

  highlight {
    min-width: 3px;
    border-radius: 99px;
    background-color: $color2;
  }

  slider {
    min-width: 5px;
    margin: -5px;
    border-radius: 99px;
    background-color: $color3;
  }
}

.prog-bar {
  min-height: 4px;
  padding: 0px;
  border-radius: 99px;

  trough {
    min-height: 4px;
    min-width: 60px;
    border-radius: 99px;
    background-color: mix($color1, $background, 50%);
  }
  progress {
    min-height: 4px;
    min-width: 4px;
    border-radius: 99px;
    border-radius: 99px;
    background-color: mix($color2, $foreground, 50%);
  }

  &.temp {
    padding: 0px;
    min-height: 10px;
    min-width: 10px;

    trough {
      min-height: 20px;
      min-width: 10px;
      background-color: unset;
    }
    progress {
      min-height: 4px;
      min-width: 4px;
      border-radius: 99px;
      border-radius: 99px;
      background-color: rgb(255, 75, 75);
    }
  }

  &.battery {
    trough {
      min-width: 30px;
    }
    progress {
      background-color: rgb(73, 204, 73);
    }
  }
}
