$foreground: #ffffff;
$foreground-alt: #848484;
$foreground-darker: #555555;
$foreground-accented: #803749;

$background: rgba(20, 20, 20);
$background-darker: rgb(0, 0, 0);

$background-alt: rgba(20, 20, 20, 0.5);
$background-darker-alt: rgba(0, 0, 0, 0.5);

$background-accented: #4e1824;

$focused: rgba(255, 255, 255, 0.75);
$focused-alt: rgba(200, 200, 200, 0.5);
$unfocused: rgba(0, 0, 0, 0.5);

$hover: white;
$hover-alt: black;
