.test{
    background-color: $background;
    color: $foreground;
    border: 1 solid;
    border-color: $color1;
    font-size: 16;
    font-weight: bolder;
}

.module{
    background-color: $background;
    color: $foreground;
    // border: 1 solid;
    // border-color: $color1;
    font-size: 12;
    font-weight: bolder;
    padding: 0px 10px;
    margin: 0px 4px;
}

.txt-low{
    color: $foreground;
}

.icon {
    font-size: 15;
    color: $foreground;
}

.sep {
    font-size: 8;
    font-weight: bolder;
    color: $foreground
}