.sidebar-layout {
  @extend .module;
  padding: unset;
  padding: 10px;
  margin: unset;
  // border: 1px rgba(0, 0, 0, 0.508) solid;

  margin-left: 10px;
  border-radius: 10px;
  
}

// .sidebar-title {
//   padding: 5px;
// }

// .sidebar-title-text {
//   font-size: 18;
//   color: $foreground-accented;
// }

// .sidebar-subtitle {
//   font-size: 14;
// }

//#region sidebar music
.sidebar-music-background {
  // aspect-ratio: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: $unfocused;
  // opacity: 0.55;
}

.sidebar-music-box {
  padding: 5 20 0 20;
}

.sidebar-music-mediacontrols {
  color: $focused;
}

.sidebar-music-mediacontrols-bg {
  background-color: $focused;
  border-radius: 15px;
}

.sidebar-music-mediacontrols-font {
  color: $background-accented;
}

.sidebar-music-progress {
  border-radius: 99px;
  transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);

  trough {
    min-height: 3px;
    min-width: 200px;
    border-radius: 99px;
    background-color: mix($foreground-alt, rgba(0, 0, 0, 0), 30%);
  }

  highlight {
    min-width: 3px;
    border-radius: 99px;
    background-color: $focused;
    transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
  }

  slider {
    min-width: 5px;
    margin: -5px;
    border-radius: 99px;
    background-color: $focused;
  }
}

//#endregion
//#region sidebar Waifu

.sidebar-waifu {
  border: 5px solid $background;
  border-radius: 0px 0px 10px 10px;
}

// .sidebar-waifu-content {
//   // padding: 10;
// }

.sidebar-waifu-toggle {
  padding: 2px 5px;
  background-color: $background-accented;
  border-radius: 12px;
  min-height: 20px;

  &:hover {
    background-color: $unfocused;
  }
  &:active {
    background-color: $focused;
  }
}

.sidebar-waifu-tag {
  background-color: $background-accented;
  border-radius: 5px;
  min-height: 20px;
  font-size: 11;
  transition: all 0.5s;

  &:hover {
    background-color: $unfocused;
    min-height: 40px;
  }

  &:active {
    background-color: $focused;
  }

  &.reset {
    padding: 2px 2px;
    font-size: 20;
  }
}

.sidebar-waifu-image {
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

//#endregion
//#region sidebar Quote
// .sidebar-quote-text{

// }

.sidebar-quote-content {
  font-size: 13;
  padding: 10px;
  background-color: $background-accented;
  .author {
    color: rgb(255, 36, 36);
  }
}

// @keyframes spin-animation {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(359deg);
//   }
// }

//#endregion
