.panel-actions {
  background: $background;
  padding: 5px;
  button,
  .icon {
    border-radius: 0px;
    padding: 10px 0px;
    min-width: 20px;
  }
  .custom-revealer {
    border-radius: 10px 10px 0px 0px;
  }

  button:first-child {
    border-radius: 10px 10px 0px 0px;
  }

  button:last-child {
    border-radius: 0px 0px 10px 10px;
  }
}
