.media-widget {
  all: unset;
  margin: 1px;
  padding: 1px;

  .player {
    @extend .module;
    padding: 1rem;
    min-width: 400px;
    // border: 1px solid $secondary;
    border-radius: 1rem;
  }

  .player .img {
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-right: 10px;

    box-shadow: 0px 0px 5px rgba($foreground, 0.5);
  }

  .player .title {
    font-size: 1.1em;
  }

  .player .artist {
    margin: 5px 0px;
    font-size: 1.1em;
  }

  .player .icon {
    margin: 0px;
    padding: 0px;
    // font-size: 1px;
  }

  .player scale.position {
    padding: 0;
    margin-bottom: 0.3em;
  }

  .player scale.position trough {
    min-height: 8px;
  }

  .player scale.position highlight {
    background-color: $foreground;
  }

  .player scale.position slider {
    all: unset;
  }

  .player button {
    all: unset;
    @extend .module;
    min-height: 1em;
    min-width: 1em;
    // padding: 0.3em;
  }

  .player button.play-pause {
    margin: 0 0.3em;
  }
}
