.booru {
  padding: 5px 0px 5px 5px;

  .api-list {
    button {
      border-bottom: 5px solid $background;
      padding: 5px 15px;
    }
    button.checked {
      border-bottom: 5px solid $foreground;
    }
  }

  .images {
    .image {
      border-radius: 15px;
    }
    .actions {
      background: $background;
      button {
        padding: 2px;
        border-radius: 0px;
      }
    }
  }

  .bottom {
    .pages {
      button {
        padding: 5px;
      }
    }

    .input-bar {
      @extend .module;
      padding: 10px;
      .tags {
        padding-bottom: 15px;
        .explicit {
          background: $red;
        }

        button {
          padding: 5px 10px;

          &:hover {
            background: $red;
          }
        }
      }
    }
  }
}
