.booru {
  .images {
    .image {
      border-radius: 15px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        border-radius: 0px;
      }

      &:active {
        box-shadow: 0px 0px 20px 100px $background inset;
        transition: all 0.2s;
      }
    }
  }

  .bottom {
    .pages {
      button {
        padding: $SCALE / 2 $SCALE;
      }
    }

    .input-bar {
      @extend .module;
      padding: 10px;
      .tags {
        .explicit {
          background: $red;
        }
        button {
          padding: $SCALE / 2 $SCALE;

          &:hover {
            background: $red;
          }
        }
      }
      .fetched-tags {
        button {
          padding: $SCALE / 2 $SCALE;
          background: $background;

          &:hover {
            background: $green;
          }
        }
      }
    }
  }
}
