.booru {
  .images {
    .image {
      border-radius: 15px;
    }
    .actions {
      background: $background;
      button {
        border-radius: 0px;
      }
    }
  }

  .bottom {
    .pages {
      button {
        padding: $SCALE / 2 $SCALE;
      }
    }

    .input-bar {
      @extend .module;
      padding: 10px;
      .tags {
        .explicit {
          background: $red;
        }
        button {
          padding: $SCALE / 2 $SCALE;

          &:hover {
            background: $red;
          }
        }
      }
      .fetched-tags {
        button {
          padding: $SCALE / 2 $SCALE;
          background: $background;

          &:hover {
            background: $green;
          }
        }
      }
    }
  }
}
