.chat-bot {
  padding: 5px;

  .info {
    @extend .module;
    padding: 10px 5px;
    color: $secondary;

    .name {
      font-size: 1rem;
    }
  }

  .copy {
    padding: 5px;
    margin: 0px;
  }

  .messages {
    .message {
      @extend .module;
      padding: 5px;

      &.user {
        border-radius: 50px;
        padding: 0px;
        padding-left: 10px;
        padding-right: 10px;
      }

      .actions {
        padding: 5px;
      }
      .body {
        font-size: 0.8rem;
        padding: 10px;

        .code-block {
          background: $module-background;
          border-radius: 10px;
          padding: 10px;
        }
      }
    }
  }

  entry {
    padding: 10px;
    border-radius: 50px;
  }

  .clear {
    @extend .danger;
    padding: 5px;
  }
}
