* {
    font-family: "Fantasque Sans Mono";
    font-size: 18px;
	--dark: rgba(0, 0, 0, 0.5);
	--light: rgba(255, 255, 255, 0.5)91;
}

#window {
	/*background-color: --wofi-color0;*/
	background-color: rgba(25, 25, 25, 0.9);
	color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

#outer-box {
	padding: 20px;
}

#input {
	background-color: --wofi-color1;
	border: 1px solid --wofi-color3;
	padding: 8px 12px;
}

#scroll {
	margin-top: 20px;
	margin-bottom: 20px;
}

#inner-box {
}

#img {
	padding-right: 10px;
}

#text {
	color: --wofi-color2;
}

#text:selected {
	color: --wofi-color0;
}

#entry {
	padding: 6px;
}

#entry:selected {
	background-color: --wofi-color3;
	background: linear-gradient(90deg, #bbccdd, #cca5dd);
	color: --wofi-color0;
}

#unselected {
}

#selected {
}

#input, #entry:selected {
	border-radius: 4px;
}
