/* Importing other-styles.css */
@import "/home/ayman/.cache/wal/colors.css";

window {
  font-size: 20px;
  background-color: --color1;
}

/* #entry:selected {
  background-color: $background;
  color: $foreground;
} */
