.media-player {
  @extend .module;
  padding-top: 200px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-shadow: 1px 1px 1px #000000;
}
.media-controls {
  // display: flex;
  // justify-items: center;
}

.media-progress {
  padding: 10px 10px;

  trough {
    min-height: 5px;
    min-width: 350px;
    border-radius: 99px;
    background-color: rgb(0, 0, 0);
  }

  highlight {
    min-width: 3px;
    border-radius: 99px;
    background-color: rgb(255, 255, 255);
    transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
  }

  slider {
    min-width: 5px;
    margin: -5px;
    border-radius: 99px;
    background-color: rgb(192, 192, 192);
  }
}
